@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gridMove {
  0% {
    transform: translateZ(-200px) rotateX(75deg) scale(2) translateY(0);
  }
  100% {
    transform: translateZ(-200px) rotateX(75deg) scale(2) translateY(4rem);
  }
}
